body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Arial", sans-serif;
  background-image: url("https://media.istockphoto.com/id/825160832/photo/tic-tac-toe-xo-game-tic-tac-toe-x-game-o-3d-illustration.webp?b=1&s=170667a&w=0&k=20&c=_P6mrGYZcebVXR80yYuFUwcmDADkbDBYQ-GEhPOmrSw=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(95px);
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px #333;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.cell {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
  background-color: #f0f0f0;
  background-color: #aa94dd;
}

.cell.empty {
  /* background-color: #dec1e6; */
  background-color: #a9a3f3;
}

.cell:hover {
  background-color: #672cf0;
}

#message {
  margin: 20px;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px #333;
}

#errorMessage {
  margin: 10px;
  font-size: 18px;
  color: red;
  text-shadow: 1px 1px #f78484;
}

#resetButton {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#resetButton:hover {
  background-color: #555;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  #gameBoard {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 8px;
  }

  .cell {
    width: 80px;
    height: 80px;
    font-size: 2rem;
  }

  #message {
    font-size: 1.2rem;
  }

  #errorMessage {
    font-size: 16px;
  }

  #resetButton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  #gameBoard {
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 6px;
  }

  .cell {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }

  #message {
    font-size: 12px;
  }

  #errorMessage {
    font-size: 14px;
  }

  #resetButton {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
