body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ffcc70, #ff6991);
  color: #333;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px #333;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.cell {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
   background-color: #f0f0f0; 
  background-color: #aa94dd;
}

.cell.empty {
  background-color: #dec1e6;
}


.cell:hover {
  background-color: #aa94dd;
}

#message {
  margin: 20px;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px #333;
}

#errorMessage {
  margin: 10px;
  font-size: 1rem;
  color: red;
}

#resetButton {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#resetButton:hover {
  background-color: #555;
}


